:root {
    /*Colors */
    --color-text: #fff;
    --color-primary: #EF88AD;
    --color-secondary: #A53860;
    --color-dark: #3A0519;
    --color-bg: #670D2F;

    /*Fonts*/

    --font-robot: "Roboto";

}